p.a{
			    font-family: "Comic Sans MS", cursive, sans-serif;
			}
			p.b{
				font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
			}
			p.c{
	        font-family: "Lucida Console", Monaco, monospace;
	      	}